.icon-nav{
    position:relative;
    color: #FFFFFF8C;
}

.icon-nav:hover{
    color:white;
}
.circle{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 71, 71, 0.692);
    color: white;
    text-align: center;
    font-size: 12px;
    top: 10px;
    left: 10px;
    right: 140px;
}
        